{formContainer $control}
	<div class="grid" id="{$control->getName()}-markdownContainer">
		<div class="col6 padding0" style="padding-right: 15px !important;">
			<div class="grid">
				<div class="col12 padding5-0">
					{label $title}
					{input $title}
				</div>
				<div class="col12 padding5-0">
					{label $perex}
					{input $perex}
				</div>
				<div class="col12 padding5-0">
					{label $text}
					{input $text}
				</div>
			</div>
		</div>
		<div class="col6 padding0" style="padding-left: 15px !important;" id="articlePreview">
			<div class="articleDetail">
				<h1 id="{$control->getName()}-title"></h1>
				<div id="{$control->getName()}-perex"></div>
				<div id="{$control->getName()}-text"></div>
			</div>
		</div>

	</div>
{/formContainer}

<script>
	var showdownConverter = new showdown.Converter();


	$('#' + {$control->getName()} +'-markdownContainer .markdownTitle').keyup(function () {
		console.log($(this).val());
		$(document.getElementById({$control->getName()} +'-title')).text($(this).val());
	});

	$('#' + {$control->getName()} +'-markdownContainer .markdownPerex').keyup(function () {
		console.log($(this).val());
		$(document.getElementById({$control->getName()} +'-perex')).html(
				showdownConverter.makeHtml($(this).val())
		);
	});

	$('#' + {$control->getName()} +'-markdownContainer .markdownText').keyup(function () {
		console.log($(this).val());
		$(document.getElementById({$control->getName()} +'-text')).html(
				showdownConverter.makeHtml($(this).val())
		);
	});


</script>
