{formContainer $component}
	{label image /}
	<div id="{$component->getId()}" class="imageCropper cropperContainer" data-cropper="{\Nette\Utils\Json::encode([
                        "id" => $component->getId(),
                        "ratio" => $component->ratio,
                        "width" => $component->width,
                        "height" => $component->height,
                    ])}">
		<div class="content popupUploadImageFormWrap">

			<div class="progressBarContainer">
				<ul class="progressBar" id="{$component->getId()}popupUploadImageProgress">
					<li class="active" title="Vyber soubor">
						<i class="fa fa-lg fa-file-image-o" aria-hidden="true"></i>
					</li>
					<li title="Ořízni">
						<i class="fa fa-lg fa-crop" aria-hidden="true"></i>
					</li>
					<li title="Zkontroluj náhled">
						<i class="fa fa-lg fa-picture-o" aria-hidden="true"></i>
					</li>
				</ul>
			</div>

			<div class="popupUploadImageStep {$component->getId()}step"
				 id="{$component->getId()}popupUploadImageStep1">
				<div class="dragImgWrap" style="display: inline-block;">
					{input image id=> $component->getId() . "popupUploadImage"}
					<span class="dragImgText">Sem přetáhni obrázek<br>nebo<br>

						{var $uploadHandler = $component->getId() . 'popupUploadImage'}
						<span class="btn"
							  onClick="$(document.getElementById({$uploadHandler})).click();">vyber soubor</span>
                                    </span>
				</div>
			</div>
			<div class="popupUploadImageStep {$component->getId()}step"
				 id="{$component->getId()}popupUploadImageStep2">
				<img src="" id="{$component->getId()}popupUploadImageProfilePreview"
					 class="popupUploadPreview"/>
				<div class="fontDescription">Vyber náhled obrázku</div>
			</div>
			<div class="popupUploadImageStep {$component->getId()}step"
				 id="{$component->getId()}popupUploadImageStep3">
				<canvas id="{$component->getId()}popupUploadImageProfileCanvas"
						width="{$component->width}"
						height="{$component->height}"
						style="width: {$component->width}px; height: {$component->height}px; "
				></canvas>
				<div class="fontDescription">Náhled ořezu</div>
			</div>
			<div class="popupUploadImageStep center {$component->getId()}step"
				 id="{$component->getId()}popupUploadImageStep4">
				<div class="font24 center" style="margin:20px;">Nahrávám obrázek
					<div class="font18 center">Čekej prosím.</div>
					<i class="fa fa-pulse fa-spinner" aria-hidden="true"></i>
				</div>
			</div>
			<div class="popupUploadImageStep {$component->getId()}step"
				 id="{$component->getId()}popupUploadImageStep5">
				<img id="{$component->getId()}popupUploadRealPreview" src=""
					 class="popupUploadRealPreview"/>
				<div class="fontDescription">Hotovo!</div>
			</div>
			<div class="buttons">
				<a href="#back" id="{$component->getId()}BtnBack" class="btn colorOrange invert">
					<i class="fa fa-arrow-left"></i> Zpět
				</a>
				<a href="#next" id="{$component->getId()}BtnNext" class="btn colorGreen invert">
					<i class="fa fa-arrow-right"></i> Dál
				</a>
			</div>
		</div>


		<style>
			.popupUploadPreview {
				max-width: 350px;
				max-height: 300px;
			}

		</style>
	</div>
{/formContainer}
